.table {
  width: 100%;

  table {
    width: 100%;
    border: 1px solid #b3adad;
    border-collapse: collapse;
    padding: 5px;

    th {
      border: 1px solid #b3adad;
      padding: 5px;
      background: #f0f0f0;
      color: #000000;
      font-weight: bolder;
    }
    td {
      border: 1px solid #b3adad;
      text-align: center;
      padding: 5px;
      background: #ffffff;
      color: #000000;
    }
  }
}

.d_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &:after {
    content: '';
    display: table;
  }
}
.d_flex__item {
  margin: 0 0 20px;
}
.d_flex:after,
.d_flex__item_l {
  width: calc(40% - 15px);
}
.d_flex__item_r {
  width: calc(60% - 15px);
}
